body{
    background-color: black;
    color:beige;
    font-family:"Chakra Petch", sans-serif;
    margin: 0px;
}

h1{
    font-size: 40px;
    
}

p{
    font-size: 20px;
   
}

header{
    font-family:"Chakra Petch", sans-serif;
    border-bottom: solid 3px  rgb(192, 4, 250);
    padding: 20px;
    font-size: 32px;
    color: rgb(192, 4, 250);
}

section{
    background: rgb(34, 29, 34);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;

}

.chamada-texto{
    margin-right: 5%;
}

img{
    height: 200px;
}